@mixin size($width, $height: null, $max: null, $min: null) {
  width: $width;
  height: $height;
  max-height: $max;
  max-width: $max;
  min-height: $min;
  min-width: $min;
}

@mixin position($top: null, $bottom: null, $right: null, $left: null) {
  // position: absolute;
  top: $top;
  bottom: $bottom;
  right: $right;
  left: $left;
}

@mixin tick($origin-x, $origin-y, $z-index) {
  position: relative;
  background: $tick-bg;
  transform-origin: $origin-x $origin-y;
  z-index: $z-index;
}