$body-bg: rgb(34, 34, 34);
$tick-bg: rgb(49, 95, 179);
$clear-laps: rgba(34, 34, 34, 0.6);
$btn-hover: rgba(34, 85, 179, 0.9);

$scrollbar: rgb(54, 54, 54);
$scrollbar-hover: rgb(100, 100, 100);

$li-hover: rgb(122, 122, 122);

$media-width: 600px;

$fixed_button: rgba(34, 34, 34, 0.8);