.changed-container {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

.changed-container .seconds {
  width: 1%;
  height: 45%;
  top: 10%;
  left: 49.5%;
  position: absolute;
  background: #315fb3;
  z-index: 10;
}

.changed-container .minutes {
  width: 2%;
  height: 35%;
  top: 20%;
  left: 49%;
  position: absolute;
  background: #315fb3;
  z-index: 8;
}

.wrapper .clock-container .clock .num1 {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.wrapper .clock-container .clock .num2 {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.wrapper .clock-container .clock .num3 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.wrapper .clock-container .clock .num4 {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.wrapper .clock-container .clock .num5 {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

.wrapper .clock-container .clock .num6 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wrapper .clock-container .clock .num7 {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}

.wrapper .clock-container .clock .num8 {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

.wrapper .clock-container .clock .num9 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.wrapper .clock-container .clock .num10 {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
}

.wrapper .clock-container .clock .num11 {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
}

.wrapper .clock-container .clock .num12 {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.wrapper .clock-container .clock .num1 div {
  -webkit-transform: rotate(-390deg);
          transform: rotate(-390deg);
}

.wrapper .clock-container .clock .num2 div {
  -webkit-transform: rotate(-420deg);
          transform: rotate(-420deg);
}

.wrapper .clock-container .clock .num3 div {
  -webkit-transform: rotate(-450deg);
          transform: rotate(-450deg);
}

.wrapper .clock-container .clock .num4 div {
  -webkit-transform: rotate(-480deg);
          transform: rotate(-480deg);
}

.wrapper .clock-container .clock .num5 div {
  -webkit-transform: rotate(-510deg);
          transform: rotate(-510deg);
}

.wrapper .clock-container .clock .num6 div {
  -webkit-transform: rotate(-540deg);
          transform: rotate(-540deg);
}

.wrapper .clock-container .clock .num7 div {
  -webkit-transform: rotate(-570deg);
          transform: rotate(-570deg);
}

.wrapper .clock-container .clock .num8 div {
  -webkit-transform: rotate(-600deg);
          transform: rotate(-600deg);
}

.wrapper .clock-container .clock .num9 div {
  -webkit-transform: rotate(-630deg);
          transform: rotate(-630deg);
}

.wrapper .clock-container .clock .num10 div {
  -webkit-transform: rotate(-660deg);
          transform: rotate(-660deg);
}

.wrapper .clock-container .clock .num11 div {
  -webkit-transform: rotate(-690deg);
          transform: rotate(-690deg);
}

.wrapper .clock-container .clock .num12 div {
  -webkit-transform: rotate(-720deg);
          transform: rotate(-720deg);
}

* {
  font-family: 'Overlock SC', cursive;
}

html {
  height: 100%;
}

body {
  background: #222222;
  overflow: hidden;
  width: 100%;
}

/* Container
================================ */
.wrapper {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 3vw;
  /* Clock Container
  ================================ */
}

.wrapper .clock-container {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  /* Lap Container
  ============================ */
}

.wrapper .clock-container .clock {
  width: 30vw;
  height: 30vw;
  min-width: 200px;
  min-height: 200px;
  position: relative;
  border: 1vw solid white;
  border-radius: 50%;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.6s ease-in;
  transition: -webkit-transform 0.6s ease-in;
  transition: transform 0.6s ease-in;
  transition: transform 0.6s ease-in, -webkit-transform 0.6s ease-in;
}

.wrapper .clock-container .clock .num {
  height: 100%;
  position: absolute;
  left: calc(50% - 0.5em);
  z-index: 10;
}

.wrapper .clock-container .clock .num div {
  width: 1em;
  line-height: 2em;
  font-size: 1.1em;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.wrapper .clock-container .clock .dot {
  width: 6%;
  height: 6%;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #315fb3;
  border-radius: 50%;
  z-index: 10;
}

.wrapper .clock-container .clock .hours-container, .wrapper .clock-container .clock .minutes-container, .wrapper .clock-container .clock .seconds-container, .wrapper .clock-container .clock .miliseconds-container {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

.wrapper .clock-container .clock .hours {
  width: 2.5%;
  height: 20%;
  top: 30%;
  left: 48.75%;
  position: relative;
  background: #315fb3;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  z-index: 6;
}

.wrapper .clock-container .clock .minutes {
  width: 2%;
  height: 35%;
  top: 15%;
  left: 49%;
  position: relative;
  background: #315fb3;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  z-index: 8;
}

.wrapper .clock-container .clock .seconds {
  width: 1%;
  height: 52%;
  top: 8%;
  left: 49.5%;
  position: relative;
  background: #315fb3;
  -webkit-transform-origin: 50% 80%;
          transform-origin: 50% 80%;
  z-index: 10;
}

.wrapper .clock-container .clock .miliseconds {
  width: 4%;
  height: 55%;
  top: -3.5%;
  left: 48%;
  position: relative;
  background: #315fb3;
  -webkit-transform-origin: 50% 97%;
          transform-origin: 50% 97%;
  z-index: 4;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(6%, #315fb3), color-stop(6%, #222222), color-stop(75%, #222222), color-stop(75%, #222222));
  background: linear-gradient(to bottom, #315fb3 6%, #222222 6%, #222222 75%, #222222 75%);
}

.wrapper .clock-container .clock .time-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper .clock-container .clock .time-container #time {
  top: 45%;
  bottom: 0;
  right: 0;
  left: 0;
  list-style: none;
  text-align: center;
  position: relative;
  color: #315fb3;
  font-size: 5vw;
  z-index: 20;
}

.wrapper .clock-container .clock .time-container #time #min, .wrapper .clock-container .clock .time-container #time #sec, .wrapper .clock-container .clock .time-container #time #ms {
  width: 17%;
  display: inline-block;
  font-size: 5vw;
}

.wrapper .clock-container .clock .time-container #time #ms {
  width: 5%;
  margin-left: 0;
  font-size: 2vw;
}

.wrapper .clock-container .lap-container {
  width: 40vw;
  height: 30vw;
  min-width: 200px;
  min-height: 200px;
  position: absolute;
  visibility: hidden;
  -webkit-transform: translate(80%, -110%);
          transform: translate(80%, -110%);
  opacity: 0;
  -webkit-transition: opacity 1.2s ease-in, -webkit-transform 0.6s ease-in;
  transition: opacity 1.2s ease-in, -webkit-transform 0.6s ease-in;
  transition: transform 0.6s ease-in, opacity 1.2s ease-in;
  transition: transform 0.6s ease-in, opacity 1.2s ease-in, -webkit-transform 0.6s ease-in;
}

.wrapper .clock-container .lap-container h2 {
  text-align: left;
  -ms-flex-item-align: start;
      align-self: flex-start;
  word-spacing: 0.3vw;
  color: white;
  font-weight: 100;
  font-size: 2vw;
  padding-bottom: 0;
  margin-bottom: 0;
}

.wrapper .clock-container .lap-container hr {
  background-color: #315fb3;
  width: 70%;
  text-align: left;
  margin-left: 0;
  padding: 3px;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
}

.wrapper .clock-container .lap-container .lap-list {
  height: 24vw;
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  width: 90%;
  margin: 1vw auto 0 auto;
  overflow-y: hidden;
}

.wrapper .clock-container .lap-container .lap-list:hover {
  overflow-y: scroll;
}

.wrapper .clock-container .lap-container .lap-list li {
  color: white;
  cursor: pointer;
  font-size: 1.5vw;
  margin-bottom: 0.5vw;
  margin-right: 2vw;
  padding: 0.1vw 1vw;
  border-radius: 5px;
  border-bottom: 1px solid grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .clock-container .lap-container .lap-list li:hover {
  background-color: #7a7a7a;
}

.wrapper .clock-container .lap-container .lap-list li:hover > small {
  color: white;
}

.wrapper .clock-container .lap-container .lap-list li small {
  width: 20%;
  text-align: left;
  letter-spacing: 0.3vw;
  color: grey;
}

.wrapper .clock-container .lap-container .lap-list li p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

.wrapper .clock-container .lap-container .lap-list li .ms {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0vw;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: white;
}

.wrapper .clock-container .lap-container .lap-list::-webkit-scrollbar {
  background-color: dark;
  width: 0.6em;
}

.wrapper .clock-container .lap-container .lap-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.1em #646464;
          box-shadow: inset 0 0 0.1em #646464;
  border-radius: 10px;
}

.wrapper .clock-container .lap-container .lap-list::-webkit-scrollbar-thumb {
  background-color: #363636;
}

.wrapper .clock-container .lap-container .lap-list::-webkit-scrollbar-thumb:hover {
  background-color: #646464;
}

.wrapper .clock-container .lap-container .clear-laps {
  width: 100%;
  position: absolute;
  bottom: 0%;
  padding-bottom: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(34, 34, 34, 0.6);
}

.wrapper .clock-container .lap-container .clear-laps button {
  cursor: pointer;
  border: none;
  font-size: 100%;
  text-transform: uppercase;
  background-color: #315fb3;
  color: white;
  padding: 0.4vw 0.8vw;
}

.wrapper .clock-container .lap-container .clear-laps button:hover {
  background-color: rgba(49, 95, 179, 0.8);
}

.wrapper .buttons-div {
  display: fixed;
  bottom: 0%;
  width: 100%;
  margin-top: 8vw;
}

.wrapper .buttons-div .all-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .buttons-div .all-buttons button {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  outline: none;
  font-size: 30px;
  text-align: center;
}

.wrapper .buttons-div .all-buttons .start {
  width: 60px;
  height: 60px;
  background: #315fb3;
  border-radius: 50%;
  margin: 5px;
}

.wrapper .buttons-div .all-buttons .start i {
  font-size: 25px;
}

.wrapper .buttons-div .all-buttons .start .fa-pause {
  display: none;
}

.wrapper .buttons-div .all-buttons .lap, .wrapper .buttons-div .all-buttons .reset {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

#changed-time {
  top: 45%;
  bottom: 0;
  right: 0;
  left: 0;
  list-style: none;
  text-align: center;
  position: relative;
  color: #315fb3;
  font-size: 5vw;
  z-index: 20;
  -webkit-animation: blinker 0.6s linear infinite;
          animation: blinker 0.6s linear infinite;
}

#changed-time #min, #changed-time #sec, #changed-time #ms {
  width: 17%;
  display: inline-block;
  font-size: 5vw;
}

#changed-time #ms {
  width: 5%;
  margin-left: 0;
  font-size: 2vw;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/*# sourceMappingURL=temp.css.map */